<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <tr>
    <th>名前</th>
    <th>内容</th>
    <th>写真</th>
    </tr>

<% @pictures.each do |post| %>
  <tr>
    <td><%= post.user.name %></td>
    <td><%= post.content %>
    <td><%= image_tag post.image.url, style:'width:400px;height:240px' if post.image_url %></td>
    <td><%= link_to '詳細を確認する', picture_path(post.id), class: "btn btn-secondary" %></td>
    <td><%= link_to 'ポストを編集する', edit_picture_path(post.id), data: { confirm: '本当に編集していいですか？' }, class: "btn btn-dark" %>
    </td>
    <td><%= link_to 'ポストを削除する', picture_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくブログを投稿する', new_picture_path, class: "btn btn-warning"  %>
